In [3]:
import numpy as np

In [4]:
import pandas as pd

In [6]:
myData=[10,20,30]
arr=np.array(myData)
labels =["a","b","c"]

In [9]:
pd.Series(data=myData)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(myData)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(myData,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
d={"a":1,"b":2,"c":3}

In [12]:
d

{'a': 1, 'b': 2, 'c': 3}

In [13]:
pd.Series(d)

a    1
b    2
c    3
dtype: int64

In [17]:
from numpy.random import randn

In [21]:
np.random.seed(101)

In [8]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

NameError: name 'randn' is not defined

In [32]:
df

          W         X         Y         Z
A -1.115710 -1.385379 -1.329660  0.041460
B -0.411055 -0.771329  0.110477 -0.804652
C  0.253548  0.649148  0.358941 -1.080471
D  0.902398  0.161781  0.833029  0.975720
E -0.388239  0.783316 -0.708954  0.586847

In [1]:
##Groupby

In [2]:
import pandas as pd

In [8]:
data={'Company':['Microsoft','Infosys','fb','google'],
      'Person':['Aditya','Raj','Snehit','Gautam'],
      'Salary':['40LPA','20LPA','35LPA','40LPA']}

In [9]:
df= pd.DataFrame(data)

In [10]:
df

     Company  Person Salary
0  Microsoft  Aditya  40LPA
1    Infosys     Raj  20LPA
2         fb  Snehit  35LPA
3     google  Gautam  40LPA

In [5]:
d={'A':[1,2,np.nan], 'B':[5,np.nan,0],'C':[1,2,3]}

In [6]:
df=pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  0.0  3

In [7]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [8]:
df.fillna(value='fill value')

            A           B  C
0         1.0         5.0  1
1         2.0  fill value  2
2  fill value         0.0  3

In [9]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64